streamlit
st-gsheets-connection
pandas
Pillow
pytesseract
opencv-python-headless
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
openpyxl
fpdf2  
xlsxwriter
